.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch {
    flex: 1;
    background-color: #FEBB02;
    padding: 15px;
    border-radius: 5px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.listTitle {
    font-size: 20px;
    color: #555;
    margin-top: 10px;
}

.listResult {
    flex: 3;
}

.listItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.listItem>label {
    font-size: 15px
}
.OptionsLabel {
    font-size: 20px;
    margin-top: 5px;
}

.listOptionText {
    font-size: 13px;
}

.listItem>input {
    height: 15px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    font-size: 15px;
}

.listItem>span {
    border-radius: 3px;
    height: 15px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.listOptionItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.listOptionItem>input {
    height: 20px;
    display: flex;
    border-radius: 2px;
    border: none;
}

.listOptionInputPrice {
    width: 80px;
}

.listOptionInput {
    width: 50px;
}

.listOptions {
    padding: 5px;
}

.buttonCenter {
    display: flex;
    justify-content: center;
}

.buttonCenter>button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    font-size: 17px;
    color: white;
    background-color: #0071C2;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}