.mail {
    width: 100%;
    height: auto;
    background-color: #003580;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}

.mailInputContainer>input {
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    margin-bottom: 20px;
}

.mailInputContainer>button {
    height: 50px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.mailTitle {
    margin-bottom: 0px;
}

.mailDesc {
    margin-top: 10;
}
